[
   {xref, [
            {config, #{extra_paths => ["deps/shotgun/ebin",
                                       "deps/jiffy/ebin",
                                       "deps/sync/ebin",
                                       "deps/goldrush/ebin",
                                       "deps/lager/ebin"]}},
            {checks, [ undefined_function_calls
                     , locals_not_used
                     , deprecated_function_calls
                     ]}
          ]
   }
].

